header {
	background-image: url("../image/mont_fuji.jpg");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	height: 75vh;
	width: 100%;
}

.header_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.349);
	padding: 0 2vw;
	position: sticky;
	top: 0;
	z-index: 999;
}

.header_top button {
	background-color: transparent;
	border: none;
}

header h1 {
	color: white;
	font-size: 5vh;
	margin-left: 5vw;
	margin-top: auto;
	margin-bottom: auto;
	display: block;
}

.header_menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 998;
}

.header_menu ul {
	display: flex;
	flex-direction: column;
	gap: 3vh;
	list-style: none;
	text-align: center;
}

.header_menu ul li {
	font-size: 2rem;
}

.header_menu ul li a {
	color: white;
	text-decoration: none;
}

.search {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25vw;
	padding: 0.5vh 0.5vw;
}

.search input {
	padding: 1vh 2vw 1vh 1vw;
	border: none;
	outline: none;
	border-radius: 20px 0 0 20px;
}
